<h2>The Great Marketing App</h2>
<h1>Recommendinator</h1>
<p>Suffering marketing tool analysis? Simply answer three questions and the Recommendinator will make eveyrthing better.</p>
<img src="" />
<img src="" />
<img src="" />

<%= render 'form' %>
