<section class="intro">
	<img src="" class="logo" />
	<h1 class="name">MailChimp</h1>
	<div class="sign-up">
		<p>Sign Up!... please...</p>
	</div> <!-- signup -->
</section> <!-- intro -->
<section class="info">
	<div class="summary">
		<p>This is a description and you should read it. This is a description and you should read it. This is a description and you should read it. This is a description and you should read it.</p>
	</div> <!-- summary -->
	<div class="screenshots">
		<img src="/img/mailchimp_screenshot.jpg" />
	</div> <!-- screenshots -->
	<div class="best-for">
		<p>Best for:</p>
		<ul>
			<li>This is a description and you should read it.</li>
			<li>This is a description and you should read it.</li>
			<li>This is a description and you should read it.</li>
		</ul>
	</div> <!-- best-for -->
	<div class="plans">
		<div class="plan">
			<h4>Gold</h4>
			<h4>$39</h4>
			<p>This is a description and you should read it.</p>
		</div> <!-- plan -->
		<div class="plan">
			<h4>Gold</h4>
			<h4>$39</h4>
			<p>This is a description and you should read it.</p>
		</div> <!-- plan -->
		<div class="plan">
			<h4>Gold</h4>
			<h4>$39</h4>
			<p>This is a description and you should read it.</p>
		</div> <!-- plan -->
	</div> <!-- plans -->
	<div class="sign-up">
		<p>Sign Up!... please...</p>
	</div> <!-- signup -->
</section> <!-- info -->
<section class="filters">
	<div class="filter">
	</div> <!-- filter -->
	<div class="filter">
	</div> <!-- filter -->
	<div class="filter">
	</div> <!-- filter -->
</section> <!-- filters -->