<section class="intro">
	<img src="" class="logo" />
	<h1>Title</h1>
	<p><a href="">Tags, Tags, Tags, Tags</a></p>
	<div class="sign-up">
		<p>Sign Up!... please...</p>
	</div> <!-- signup -->
<section> <!-- intro -->
<section class="info">
	<div class="summary">
		<p>This is a description and you should read it. This is a description and you should read it. This is a description and you should read it. This is a description and you should read it.</p>
	</div> <!-- summary -->
	<img src="" />
	<div class="best-for">
		<ul>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div> <!-- best-for -->
	<div class="plans">
	</div> <!-- plans -->
	<div class="sign-up">
		<p>Sign Up!... please...</p>
	</div> <!-- signup -->
</section> <!-- info -->
<section class="filters">
	<div class="filter">
	</div> <!-- filter -->
	<div class="filter">
	</div> <!-- filter -->
	<div class="filter">
	</div> <!-- filter -->
</section> <!-- filters -->