<h1>Your Tool Recommendations</h1>
<section class="filters">
	<div class="filter">
		<span>Budget:</span>
		<span>$1,000-$5,000</span>
	</div> <!-- filter -->
	<div class="filter">
		<span>Marketing Type:</span>
		<span>Email</span>
	</div> <!-- filter -->
	<div class="filter">
		<span>Years of Experience</span>
		<span>1-3 Years</span>
	</div> <!-- filter -->
</section> <!-- filters -->
<section class="results">
	<div class="result">
		<img src="" />
		<h2>Name</h2>
		<p><a href="">Tags, Tags, Tags</a></p>
		<p class="summary">SummarySummarySummary SummarySummarySummary SummarySummary SummarySummary</p>
		<p>Best for:</p>
		<ul>
			<li>It's the best for this magical quality</li>
			<li>It's the best for this magical quality</li>
			<li>It's the best for this magical quality</li>
		</ul>
	</div> <!-- result -->
	<div class="result">
		<img src="" />
		<h2>Name</h2>
		<p><a href="">Tags, Tags, Tags</a></p>
		<p class="summary">SummarySummarySummary SummarySummarySummary SummarySummary SummarySummary</p>
		<p>Best for:</p>
		<ul>
			<li>It's the best for this magical quality</li>
			<li>It's the best for this magical quality</li>
			<li>It's the best for this magical quality</li>
		</ul>
	</div> <!-- result -->
	<div class="result">
		<img src="" />
		<h2>Name</h2>
		<p><a href="">Tags, Tags, Tags</a></p>
		<p class="summary">SummarySummarySummary SummarySummarySummary SummarySummary SummarySummary</p>
		<p>Best for:</p>
		<ul>
			<li>It's the best for this magical quality</li>
			<li>It's the best for this magical quality</li>
			<li>It's the best for this magical quality</li>
		</ul>
	</div> <!-- result -->
	<div class="result">
		<img src="" />
		<h2>Name</h2>
		<p><a href="">Tags, Tags, Tags</a></p>
		<p class="summary">SummarySummarySummary SummarySummarySummary SummarySummary SummarySummary</p>
		<p>Best for:</p>
		<ul>
			<li>It's the best for this magical quality</li>
			<li>It's the best for this magical quality</li>
			<li>It's the best for this magical quality</li>
		</ul>
	</div> <!-- result -->
	<div class="result">
		<img src="" />
		<h2>Name</h2>
		<p><a href="">Tags, Tags, Tags</a></p>
		<p class="summary">SummarySummarySummary SummarySummarySummary SummarySummary SummarySummary</p>
		<p>Best for:</p>
		<ul>
			<li>It's the best for this magical quality</li>
			<li>It's the best for this magical quality</li>
			<li>It's the best for this magical quality</li>
		</ul>
	</div> <!-- result -->
	<div class="result">
		<img src="" />
		<h2>Name</h2>
		<p><a href="">Tags, Tags, Tags</a></p>
		<p class="summary">SummarySummarySummary SummarySummarySummary SummarySummary SummarySummary</p>
		<p>Best for:</p>
		<ul>
			<li>It's the best for this magical quality</li>
			<li>It's the best for this magical quality</li>
			<li>It's the best for this magical quality</li>
		</ul>
	</div> <!-- result -->
</section> <!-- results -->
